* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	color: #444;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	color: #113355;
	text-align: center;
	margin: 60px 0;
}

.content {
	margin-bottom: 30px;
}

.modal {}

.modal.open .modal__overlay,
.modal.open .modal__window {
	opacity: 1;
	z-index: 1000;
}

.modal.hide .modal__overlay,
.modal.hide .modal__window {
	opacity: 1;
	z-index: 1000;
}

.modal.open .modal__window {
	transform: translateY(200px);
}

.modal.hide .modal__window {
	transform: translateY(-200px);
}

.modal.open .modal__overlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.modal.hide .modal__overlay {
	background-color: rgba(0, 0, 0, 0);
}

.modal__window, .modal__overlay {
	opacity: 0;
	z-index: -1;
}

.modal__overlay {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: background 0.3s ease-in;
}

.modal__window {
	background-color: #fff;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translateY(-200px);
	transition: transform 0.3s ease-in;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #113355;
	padding-bottom: 20px;
}

.modal__content {
	flex: 1 1 auto;
	padding: 30px 0;
}

.modal__text {
	margin-bottom: 20px;
}

.modal__close {
	cursor: pointer;
}

.modal__text:last-child {
	margin-bottom: 0;
}

.modal__footer {
	border-top: 1px solid #113355;
	padding-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.modal__btn {
	margin-left: 20px;
	padding: 10px 20px;
	background-color: #112288;
	color: #fff;
}